<div class="d-flex flex-column vh-90 align-items-center justify-content-center">
  <div class="card text-bg-dark">
    <div class="card-header">
      <h2 class="text-center">Cadastro de usuários</h2>
    </div>
    <div class="card-body text-bg-light">
      <form method="post" action="/register">
        <div class="input-group input-group-lg mb-3">
          <span class="input-group-text">Email</span>
          <input type="email" id="userEmail" class="form-control" name="email" placeholder="Insira aqui o seu e-mail">
          <button class="btn btn-outline-success">Cadastrar</button>
        </div>

      </form>
    </div>
  </div>
</div>