<div class="alert alert-danger alert-dismissible fade show d-flex align-items-center mb-5" role="alert">
  <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:">
    <use xlink:href="#exclamation-triangle-fill" />
  </svg>

  <div>
    <%=message%>
  </div>
  <button type="button" id="btnClose" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>